.btn {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  gap: var(--xs);
  width: fit-content;
  height: fit-content !important;
  min-height: 40px; // ensure clickable area + 4px for outline

  @media screen and (min-width: 900px) {
    min-width: 120px;
  }

  border: none;
  border-radius: 0px;
  outline: solid 2px var(--primary);

  font-size: var(--fs-btn);
  font-weight: 500;

  background: var(--primary);
  color: var(--white);

  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    outline-color: var(--primary-dark);
    background: var(--primary-dark);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    transform: translateY(-1px);
    box-shadow: var(--shadow-hover);
  }

  &:active {
    outline: solid 2px var(--primary-dark);
    background: var(--primary);
    box-shadow: var(--shadow-clicked);
    color: var(--white);
    transition: all 0s;
  }
}

// Sizes
.small {
  min-width: auto;

  padding: 12px 20px;
  font-size: var(--fs-sm);
  min-height: 38px;

  line-height: 1em;
}

// Types
.secondary {
  background: var(--secondary);
  color: var(--black);
  outline-color: var(--secondary);

  &:hover {
    outline-color: var(--secondary-dark);
    background: var(--secondary-dark);
    color: var(--white);
  }

  &:active {
    outline: solid 2px var(--secondary-dark);
    background: var(--secondary-muted);
    color: var(--black);
  }
}

.outline {
  outline-color: var(--primary);
  color: var(--primary);
  background: transparent;

  &:hover {
    outline-color: var(--accent);
    color: var(--black);
    background: transparent;
  }

  &:active {
    outline-color: var(--accent);
    color: var(--accent);
    background: transparent;
  }
}

.outline.secondary {
  outline-color: var(--secondary);
  color: var(--secondary);
  background: transparent;

  &:hover {
    outline-color: var(--secondary-muted);
    color: var(--secondary-muted);

    background: transparent;
  }

  &:active {
    outline-color: var(--secondary-dark);
    color: var(--secondary-dark);
    background: transparent;
  }
}
