.menu {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: var(--navbar-height);
  display: flex;
  box-shadow: none;
  background: var(--white);

  &.scrolling {
    box-shadow: var(--shadow-menu);
  }

  &.open {
    background: var(--true-white);
  }

  &.hidden {
    top: calc(var(--navbar-height) * -1);
    transition: all 0.3s ease-in-out;
    box-shadow: none;
  }

  &:hover {
    background: var(--true-white);
    box-shadow: var(--shadow-menu);
    transition: all 0.3s ease-in-out;
  }

  > .container {
    width: 100%;
    max-width: var(--max-container-width);
    margin-inline: auto;
    padding-inline: var(--sct-horiz-margin);

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;

  > img {
    object-fit: contain;
  }
}

.links {
  height: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: var(--lg);

  font-size: var(--fs-btn);

  > a:not(:last-of-type) {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid transparent;
    color: var(--black);

    &:hover {
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
    }
  }

  @media screen and (min-width: 900px) {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .links {
    display: flex;
  }
}

.dropdownMenu {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  position: relative;
  height: 100%;
  justify-content: center;

  > .label {
    display: flex;
    flex-direction: row;
    gap: var(--xs);
    align-items: center;

    > a {
      color: var(--black);
    }

    &::after {
      content: '›';
      transform: rotate(0deg);
      transform-origin: center;
      color: var(--black);
      transition: transform 0.3s ease-in-out;
    }
  }

  &:hover {
    > .label {
      > a {
        color: var(--primary);
      }

      &::after {
        color: var(--primary);
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
      }
    }

    > .sublinks {
      visibility: visible;
      max-height: 100px;
      transition: all 0.3s ease-in-out;
      box-shadow: none;
    }
  }

  > .sublinks {
    position: absolute;
    top: calc(var(--navbar-height) - var(--md));
    display: flex;
    flex-direction: column;
    gap: var(--xs);
    visibility: collapse;
    height: fit-content;
    max-height: 0px;
    overflow: hidden;
    padding-inline: 10px;
    background-color: var(--true-white);
    transform: translateX(-10px);

    transition: all 0.3s ease-in-out;

    > a {
      white-space: nowrap;
      color: var(--black);

      &:hover {
        color: var(--primary);
      }

      &:last-of-type {
        padding-bottom: var(--sm);
      }
    }
  }
}

.mobileMenu {
  z-index: 10;
  padding: var(--md) var(--sct-horiz-margin);
  background: var(--white);
  height: calc(100vh - var(--navbar-height));
  height: calc(100svh - var(--navbar-height));
  position: fixed;
  top: var(--navbar-height);
  scrollbar-width: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  width: 100%;

  display: flex;
  flex-direction: column;

  &.open {
    left: 0px;
    transition: left 0.3s ease-in-out;
  }

  &.closed {
    left: 100%;
    transition: left 0.3s ease-in-out;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;

    > a,
    > button {
      text-align: left;
      border: none;

      &:hover {
        border: none;
      }
    }

    > a {
      height: fit-content;
      min-height: 42px;
      width: 100%;
      margin-bottom: var(--sm);

      // Remove if no last button
      &:last-of-type {
        width: fit-content;
      }
    }
  }

  .submenu {
    display: flex;
    flex-direction: row;
    gap: var(--xs);
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: var(--sm);

    > a {
      min-height: 38px;
      width: 100%;
    }

    > .sublinks {
      display: flex;
      flex-direction: row;
      gap: var(--sm);
      flex-wrap: wrap;
      min-height: 36px;

      font-size: var(--fs-sm);
    }

    a {
      display: flex;
      align-items: center;
      color: var(--black);

      &:hover {
        color: var(--primary);
      }
    }

    &::after {
      display: none; // Removes the carret
    }
  }
}

@keyframes fadeIn {
  0% {
    // transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    //transform: translateY(0px);
    opacity: 1;
  }
}
