html {
  background-color: var(--white);
  color: var(--black);

  scroll-behavior: smooth;
  font-family: var(--body-font);
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

abbr,
abbr[title] {
  border: none;
  text-decoration: none;
}

section {
  padding: var(--sct-default-margins);
  display: flex;
}

.container {
  width: 100%;
  max-width: var(--max-container-width);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

// Display
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

// For menu OnScroll
.bg-dark {
  background: var(--dark-gray);
}

.noscroll {
  overflow: hidden;
}

#phone::before {
  content: '+41 00 000 00 00';
  display: inline;
}

#mail::before {
  content: 'info@mydomain.com';
  display: inline;
}
