body {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-p);
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.3em;
  letter-spacing: 0em;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 0px;
  }
}

small {
  font-weight: 500;
  font-size: var(--fs-sm);
  line-height: 1.3em;
  letter-spacing: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: var(--fs-h1);
  line-height: 1em;
  letter-spacing: 0em;
}

h2 {
  font-weight: 600;
  font-size: var(--fs-h2);
  line-height: 1em;
  letter-spacing: 0em;
}

h3 {
  font-weight: 600;
  font-size: var(--fs-h3);
  line-height: auto;
  letter-spacing: 0em;
}

h4 {
  font-weight: 600;
  font-size: var(--fs-h4);
  line-height: auto;
  letter-spacing: 0em;
}

h5 {
  font-weight: 600;
  font-size: var(--fs-h5);
  line-height: auto;
  letter-spacing: 0em;
}

h6 {
  font-weight: 600;
  font-size: var(--fs-h6);
  letter-spacing: 0em;
  line-height: auto;
}

a {
  color: var(--primary);
  transition: all ease-in-out 0.2s;

  &:hover {
    color: var(--primary-dark);
    transition: all ease-in-out 0.2s;
  }

  &:active {
    color: var(--primary-muted);
    transition: all ease-in-out 0s;
  }
}

.all-caps {
  letter-spacing: 0em;
  text-transform: uppercase;
}
