* {
  --true-white: #fff;
  --white: #fafafa;
  --black: #050505;

  --light-gray: #f5f5f5;
  --gray: #d9d9d9;
  --dark-gray: #696969;

  --primary: #0059ff;
  --primary-dark: #202f60;
  --primary-muted: #8fc5ff;

  --secondary: #d5e1f6;
  --secondary-dark: #09152a;
  --secondary-muted: #d5e1f6;

  --accent: #ae0000;
  --accent-dark: #9b2424;
  --accent-muted: #ff6666;

  --danger: #d33232;
  --warning: #d38932;
  --info: #327cd3;
  --success: #23ad29;

  --shadow-hover: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-clicked: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  --shadow-card: 0px 12px 16px -20px rgba(62, 85, 65, 0.15);

  /* Sizes */
  --xs: 6px;
  --sm: 12px;
  --md: 24px;
  --lg: 48px;
  --xl: 96px;

  /* Font sizes */
  --base-font-size: 16px;
  --ratio: 1.25;

  --fs-p: calc(var(--base-font-size) * pow(var(--ratio), 0));
  --fs-sm: calc(var(--base-font-size) * pow(var(--ratio), -1));
  --fs-btn: calc(var(--fs-p) - 1px);

  --fs-h1: calc(var(--base-font-size) * pow(var(--ratio), 5));
  --fs-h2: calc(var(--base-font-size) * pow(var(--ratio), 4));
  --fs-h3: calc(var(--base-font-size) * pow(var(--ratio), 3));
  --fs-h4: calc(var(--base-font-size) * pow(var(--ratio), 2));
  --fs-h4: calc(var(--base-font-size) * pow(var(--ratio), 1));

  --fs-h6: var(--fs-sm);

  /* Fonts */
  --body-font: var(--inter-font), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --heading-font: var(--body-font);
  --special-font: var(--body-font);

  /* Spacings */
  --sct-vert-margin: var(--xl);
  --subsct-vert-margin: calc(var(--lg) + var(--md));
  --sct-horiz-margin: var(--sm);
  --sct-default-margins: var(--sct-vert-margin) var(--sct-horiz-margin);

  --vert-spacing: var(--lg);

  --navbar-height: 78px;

  --max-paragraph-width: 720px;
  --max-block-width: 100%;
  --max-container-width: 1200px;
}

@media screen and (min-width: 900px) {
  * {
    --base-font-size: 19px;
    --ratio: 1.333333333;

    --navbar-height: 96px;
  }
}

@media screen and (min-width: 1200px) {
  * {
  }
}
