* {
  /* Colors */
  --true-white: #fff;
  --white: #fafafa;
  --black: #050505;

  --light-gray: #f5f5f5;
  --gray: #d9d9d9;
  --dark-gray: #696969;

  --primary: #0059ff;
  --primary-dark: #202f60;
  --primary-muted: #8fc5ff;

  --secondary: #d5e1f6;
  --secondary-dark: #09152a;
  --secondary-muted: #94a2b9;

  --accent: #ae0000;
  --accent-dark: #9b2424;
  --accent-muted: #ff6666;

  --danger: #d33232;
  --warning: #d38932;
  --info: #327cd3;
  --success: #23ad29;

  --shadow-hover: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-clicked: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  --shadow-card: 0px 12px 16px -20px rgba(62, 85, 65, 0.15);
  --shadow-menu: 0 4px 12px 0 rgba(0, 0, 0, 0.05);

  /* Sizes */
  --xs: 6px;
  --sm: 12px;
  --md: 24px;
  --lg: 48px;
  --xl: 96px;

  /* Font sizes */
  --fs-p: 17px;
  --fs-sm: 14px;
  --fs-btn: calc(var(--fs-p) - 1px);

  --fs-h1: 42px;
  --fs-h2: 33px;
  --fs-h3: 27px;
  --fs-h4: 21px;
  --fs-h5: var(--fs-p);
  --fs-h6: var(--fs-sm);

  /* Using a modular scale with a ratio of 1.25 (perfect fourth) 
  --base-font-size: 16px;
  --ratio: 1.25;

  --fs-p: calc(var(--base-font-size) * pow(var(--ratio), 0));
  --fs-sm: calc(var(--base-font-size) * pow(var(--ratio), -1));
  --fs-btn: calc(var(--fs-p) - 1px);

  --fs-h1: calc(var(--base-font-size) * pow(var(--ratio), 5));
  --fs-h2: calc(var(--base-font-size) * pow(var(--ratio), 4));
  --fs-h3: calc(var(--base-font-size) * pow(var(--ratio), 3));
  --fs-h4: calc(var(--base-font-size) * pow(var(--ratio), 2));
  --fs-h5: calc(var(--base-font-size) * pow(var(--ratio), 1));
  --fs-h6: var(--fs-sm);
  */

  /* Fonts */
  --body-font: var(--inter-font), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --heading-font: var(--body-font);
  --special-font: var(--body-font);

  /* Spacings */
  --vert-spacing: 48px;
  --sct-vert-margin: 96px;
  --subsct-vert-margin: calc(var(--sct-vert-margin) / 2);
  --sct-horiz-margin: 12px;
  --sct-default-margins: var(--sct-vert-margin) var(--sct-horiz-margin);

  --navbar-height: 78px;

  --max-card-width: 540px;
  --max-paragraph-width: 960px;
  --max-block-width: 1200px;
  --max-container-width: 1440px;
}

@media screen and (min-width: 900px) {
  * {
    --base-font-size: 19px;
    --ratio: 1.333333333;

    --fs-p: 21px;
    --fs-sm: 16px;
    --fs-btn: calc(var(--fs-p) - 2px);

    --fs-h1: 65px;
    --fs-h2: 50px;
    --fs-h3: 37px;
    --fs-h4: 28px;
    --fs-h5: var(--fs-p);
    --fs-h6: var(--fs-sm);

    --vert-spacing: 72px;

    --sct-vert-margin: 120px;
    --sct-horiz-margin: 72px;
    --sct-default-margins: var(--sct-vert-margin) var(--sct-horiz-margin);

    --navbar-height: 96px;
  }
}

@media screen and (min-width: 1200px) {
  * {
  }
}
