.lpd {
  > section {
    padding-block: var(--lg);
    max-width: var(--max-paragraph-width);

    > a:last-of-type {
      margin-top: var(--md);
    }
  }

  hr {
    max-width: var(--max-paragraph-width);
  }

  h2,
  h3,
  h4 {
    margin-bottom: var(--md);
  }

  h2 {
    margin-top: var(--md);
  }

  h3,
  h4 {
    margin-top: var(--md);
  }

  h2 + h3,
  h3 + h4 {
    margin-top: 0;
  }

  h5 {
    margin-block: var(--md);
  }

  a:hover {
    cursor: pointer;
  }
}
