.contactCTA {
  height: 400px;
  padding: var(--md);
  flex-direction: column;
  gap: var(--sm);
  background-size: cover;
  background-position: center;

  justify-content: center;
  // align-items: flex-end;
  position: relative;

  color: var(--white);

  > .container {
    width: 100%;
    max-width: var(--max-container-width);
    margin-inline: auto;
    z-index: 1;

    > a {
      margin-top: var(--sm);
    }
  }

  > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: var(--primary);

    &.gradient {
      // Background color : gold-white
      --start-opacity: 0;
      --end-opacity: 0.9;
      --angle: 180deg;
      --start: 0%;
      --end: 60%;
      --color-hsl: 45, 40%, 96%;

      background-color: none;

      background: linear-gradient(
        var(--angle),
        hsla(var(--color-hsl), var(--start-opacity)) var(--start),
        hsla(var(--color-hsl), var(--end-opacity)) var(--end)
      );
      background: -moz-linear-gradient(
        var(--angle),
        hsla(var(--color-hsl), var(--start-opacity)) var(--start),
        hsla(var(--color-hsl), var(--end-opacity)) var(--end)
      );
      background: -webkit-linear-gradient(
        var(--angle),
        hsla(var(--color-hsl), var(--start-opacity)) var(--start),
        hsla(var(--color-hsl), var(--end-opacity)) var(--end)
      );
    }
  }
}

@media screen and (min-width: 768px) {
  .contactCTA {
    > .container {
      min-width: 640px;
      // width: 50%;
    }

    > .overlay.gradient {
      --angle: 0deg;
      --end: 50%;
      --start: 0%;
    }
  }
}

@media screen and (min-width: 900px) {
  .contactCTA {
    .overlay.gradient {
      --angle: 0deg;
      --end: 80%;
      --start: 20%;
    }
  }
}
