.logoWall > div {
  gap: var(--md);
  align-items: center;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--sm);

    > li {
      width: 100%;
      max-width: calc((100% - var(--sm)) / 2);

      > .logo {
        display: block;
        height: 120px;
        padding: var(--md);

        &.clickable:hover {
          background-color: var(--light-gray);

          > img {
            transform: scale(1.025);
            transition: transform ease-in-out 0.3s;
          }
        }

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;

          transition: transform ease-in-out 0.3s;
        }
      }

      // Default grid : mobile 2 cols, tablet 3 cols, desk 4 cols
      @media screen and (min-width: 900px) {
        max-width: calc((100% - 2 * var(--sm)) / 3);

        > .logo {
          height: 150px;
        }
      }

      @media screen and (min-width: 1200px) {
        max-width: calc((100% - var(--sm) * 3) / 4);

        > .logo {
          height: 180px;
        }
      }
    }
  }
}

// ##### LOGO BANNER #####
$sq-width: 240px; // img width + padding
$sq-height: 180px;
$nb-items: 4;
$anim-speed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc($sq-width * $nb-items * -1));
  }
}

.logoBanner {
  overflow: hidden;
  position: relative;
  padding: 0;
  background-color: var(--true-white);

  &.static > .track {
    overflow: scroll;
    margin-inline: auto;
  }

  &.animated > .track {
    animation: scroll $anim-speed linear infinite;
    width: calc(($sq-width) * $nb-items * 3);
  }

  .track {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;

    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
    }

    > li {
      height: $sq-height;
      width: $sq-width;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      text-align: center;

      > a,
      > span {
        height: 100%;
        padding: var(--md) var(--sm);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        color: var(--black);

        &.clickable:hover {
          background-color: var(--light-gray);
          color: var(--primary);

          > img {
            transform: scale(1.025);
            transition: transform ease-in-out 0.3s;
          }
        }

        > img {
          width: 100%;
          height: 100%;
          max-height: 96px;
          object-fit: contain;
          z-index: 1;
          transition: transform ease-in-out 0.3s;
        }

        > small {
          padding-top: 4px;
        }
      }
    }
  }
}
