.accordionSection > div {
  gap: var(--lg);
  max-width: var(--max-block-width);

  > .head {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
  }
}

.accordionList {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.accordion {
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  background-color: var(--true-white);

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    cursor: pointer;
    padding: var(--sm) var(--md);
    background-color: var(--light-gray);
  }

  .titles {
    padding-top: var(--padding);

    @media screen and (min-width: 900px) {
      padding-top: var(--margin);
    }

    display: flex;
    flex-direction: row;
    gap: var(--margin);
    align-self: stretch;
    align-items: center;

    > h4 {
      width: 100%;
      font-weight: 600;
      line-height: 1.2em;

      @media screen and (min-width: 900px) {
      }
    }

    > .icon {
      width: var(--md);
      height: var(--md);
      position: relative;

      > span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--black);

        position: absolute;
        top: 50%;
        transition: transform ease-in-out 0.3s;

        &:last-of-type {
          transform: rotate(-90deg);
          transform-origin: center;
        }
      }

      &.open {
        > span {
          &:first-of-type {
            top: 50%;
          }

          &:last-of-type {
            transform: rotate(0deg);
            transform-origin: center;

            transition: transform ease-in-out 0.3s;
          }
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: flex-start;

    padding: var(--md);

    height: fit-content;
    max-height: 2000px;

    color: var(--dark-gray);

    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0px);
    overflow: hidden;

    &.closed {
      max-height: 0px;
      transform: translateY(-25px);
      opacity: 0;
      transition: all 0.3s ease-in-out;

      padding-block: 0;
    }
  }
}

.toggle {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -9999px;
}
