.section {
  > div {
    gap: var(--lg);
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: var(--sm);

    text-align: center;

    > p {
      text-wrap: balance;
      text-wrap: pretty;
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--lg);

    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 900px) {
      gap: var(--md);
    }

    > li {
      width: 100%;
      max-width: var(--max-card-width);

      @media screen and (min-width: 900px) {
        width: calc((100% - var(--md)) / 2);
      }

      @media screen and (min-width: 1200px) {
        width: calc((100% - 2 * var(--lg)) / 3);
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;

  --gap: var(--sm);
  gap: var(--gap);

  height: 100%;
  min-height: 180px;

  padding: var(--md);
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: var(--true-white);

  > small {
    text-wrap: balance;
    text-wrap: pretty;
  }
}

.altCards {
  > li > .card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;

    > img {
      padding: var(--sm);
      background-color: var(--primary);
    }

    > h5 {
      width: calc(100% - 50px - var(--gap));
    }

    > small {
      width: 100%;
    }
  }
}

.bigCards {
  > li > .card {
    --gap: var(--md);

    > h5 {
      font-size: var(--fs-h4);
    }

    > small {
      font-size: var(--fs-p);
    }
  }
}
