.footer {
  border-top: 4px solid var(--primary-dark);
  background-color: var(--dark);

  .submenu > a {
    font-size: var(--fs-sm);
    text-transform: capitalize;
    letter-spacing: 0.01em;

    &::after {
      content: ' | ';
    }

    &:last-of-type::after {
      content: '';
    }
  }

  > .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: var(--md) var(--sct-horiz-margin) 50px;
    width: 100%;

    .logo {
      order: 0;
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      > img {
        max-width: 100%;
        height: fit-content;
      }
    }

    .top {
      order: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      &__socials {
        display: flex;
        flex-direction: row;
        font-size: 30px;
        letter-spacing: 1em;

        > a {
          color: var(--primary);
        }
      }
    }

    .bottom {
      order: 2;
      display: flex;
      flex-direction: column;
      gap: var(--md);
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      .right {
        display: flex;
        flex-direction: column;

        font-size: var(--fs-h5);
        letter-spacing: 0.08em;

        > a,
        > div {
          padding: var(--md) 0;
          border-top: solid 1px rgba(250, 250, 250, 0.5);

          &:last-child {
            border-bottom: solid 1px rgba(250, 250, 250, 0.5);
          }
        }
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__elt {
          > h5 {
            color: var(--primary-dark);
          }

          > p {
            margin: 0;
          }
        }
      }
    }
  }

  > .bottom {
    display: flex;
    align-items: center;
    padding: var(--md) var(--sct-horiz-margin);
    color: var(--dark-gray);
    background: var(--black);

    > small {
      width: 100%;
      max-width: var(--large-content-width);
      margin: 0 auto;

      > a {
        opacity: 0.75;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .footer {
    border-top: 4px solid var(--primary-dark);

    .submenu > a {
      font-size: var(--fs-sm);
      text-transform: capitalize;
      letter-spacing: 0.01em;

      &::after {
        content: ' | ';
      }

      &:last-of-type::after {
        content: '';
      }
    }

    > .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      padding: var(--md) var(--sct-horiz-margin) 50px;

      &__logo {
        order: 1;
      }

      &__top {
        order: 0;
        height: 120px;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        border-bottom: solid 1px rgba(250, 250, 250, 0.5);
      }

      &__bottom {
        order: 2;
        flex-direction: row-reverse;
        justify-content: space-between;

        &__right {
          min-width: 400px;
        }
      }
    }
  }
}
