.footer {
  border-top: 4px solid var(--accent);
  background-color: var(--primary-dark);
  color: var(--white);

  .body,
  .container {
    width: 100%;
    max-width: var(--max-container-width);
    margin-inline: auto;
    padding: var(--md) var(--sct-horiz-margin);

    display: flex;
    flex-direction: column;
  }

  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--md);

    .logo {
      order: 0;

      > img {
        max-width: 100%;
        height: fit-content;
        text-align: left;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: var(--xs);

      > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        > li {
          > a,
          > span {
            display: block;
            width: 100%;
            padding-block: var(--xs);
          }

          > a {
            color: var(--white);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .socials {
        display: flex;
        flex-direction: row;
        gap: var(--md);

        > li {
          width: fit-content;
          > a {
            font-size: 24px;
            color: var(--white);

            &:hover {
              color: var(--accent);
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .foot {
    background: var(--black);

    .container {
      align-items: center;
      text-align: center;
      color: var(--dark-gray);
      gap: var(--sm);

      > small {
        > a {
          opacity: 0.75;
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .footer {
    .body {
      padding-block: var(--vert-spacing);

      .col {
        max-width: calc((100% - 2 * var(--md)) / 3);
      }
    }

    .foot .container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
