.hero {
  height: auto;
  min-height: 75vh;
  min-height: 75svh;
  position: relative;

  &.half {
    min-height: 50vh;
    min-height: 50svh;
    padding-bottom: var(--vert-spacing);
  }

  padding-inline: var(--sct-horiz-margin);
  padding-top: calc(var(--navbar-height) + var(--sct-vert-margin));
  padding-bottom: var(--sct-vert-margin);

  display: flex;
  align-items: center;

  .container {
    max-width: var(--max-container-width);
    width: 100%;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: var(--vert-spacing);
  }

  .content {
    margin-inline: auto;
    position: relative;
    width: 100%;
    z-index: 2;

    display: flex;
    flex-direction: column;

    > .surtitle {
      font-size: var(--fs-h5);
      font-weight: 600;
      color: var(--primary);
    }

    > .texts {
      margin-top: var(--md);
      display: flex;
      flex-direction: column;
      gap: var(--sm);
    }
  }
}

.mediaHero {
  border-bottom: solid 1px var(--gray);

  // Variants
  &.backgroundMedia {
    .media {
      position: absolute;
      inset: 0;
      z-index: 0;
      object-fit: cover;
    }

    .content {
      color: var(--white);
    }
  }

  &.sideMedia {
    .container {
      flex-direction: column;
      gap: var(--lg);
      align-items: flex-start;

      @media screen and (min-width: 900px) {
        flex-direction: row;
        align-items: center;
      }
    }

    .content {
      order: 0;
      width: calc((100% - var(--lg)) / 2);
    }

    .media {
      order: 1;
      max-width: var(--max-container-width);
      object-fit: cover;
      width: 100%;

      @media screen and (min-width: 900px) {
        width: calc((100% - var(--lg)) / 2);
      }

      // DEV : adapt according to project
      max-height: 400px;
    }
  }

  &.bottomMedia {
    flex-direction: column;
    gap: var(--vert-spacing);

    .content {
      order: 0;
    }

    .media {
      order: 1;
      max-width: var(--max-container-width);
      object-fit: cover;
      width: 100%;

      // DEV : adapt according to project
      max-height: 400px;
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: var(--black);
    pointer-events: none;
    opacity: 0.5;
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
  }
}

.textHero {
  color: var(--black);
  border-bottom: solid 1px var(--gray);

  align-items: flex-end;

  .container {
    gap: 0px;
  }

  .texts {
    margin-top: var(--md);
  }
}

.arrow {
  position: absolute;
  bottom: var(--sct-vert-margin);
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}
