.txtImgSection {
  > div {
    flex-direction: column-reverse;
    gap: var(--lg);
    align-items: center;
    justify-content: center;

    &.invertedMobile {
      flex-direction: column;
      gap: var(--md);
    }
  }

  .image {
    max-width: 100%;
    height: 100%;
    max-height: 720px;
    width: 100%;
    max-width: 540px;
    // max-width: 310px;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--xs);
    width: 100%;
    max-width: 540px;

    > img {
      max-width: 100%;
      height: auto;
    }

    .surtitle {
      color: var(--primary);
      font-weight: 600;
      font-size: var(--fs-h5);
    }

    h2 {
      margin-bottom: var(--sm);
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: var(--md);

      > p {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .txtImgSection > div {
    flex-direction: row;
    gap: var(--lg);

    &.invertedDesktop {
      flex-direction: row-reverse;
    }

    > .content {
      width: 100%;
      max-width: 100%;
    }
  }
}
