.formSection {
  > .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-container-width);
    margin-inline: auto;

    gap: var(--vert-spacing);

    > h2 {
      text-align: center;
    }

    > form {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--sm) var(--md);

      > .bottom {
        display: flex;
        flex-direction: column;
        gap: var(--md);
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.status {
  &__success > i {
    margin-right: 5px;
    color: var(--success);
  }
  &__error > i {
    margin-right: 5px;
    color: var(--danger);
  }

  &__sending {
    display: flex;
    flex-direction: row;
    align-items: center;

    > i {
      margin-right: 5px;
      animation: spin 1.5s infinite linear;
      color: var(--info);
    }
  }
}

@media screen and (min-width: 768px) {
  .formSection > .container > form > .bottom {
    flex-direction: row;
    align-items: center;
  }
}
