.input {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  width: 100%;

  > input,
  > textarea,
  > select {
    width: 100%;
    padding: var(--sm);
    background: var(--white);
    border: 1px solid var(--gray);
    font-size: var(--fs-p);
  }

  > textarea {
    min-height: 240px;
  }

  *:required + span::after {
    content: '*';
  }

  > span {
    font-size: var(--fs-h6);
    letter-spacing: 0.08em;
  }
}

@media screen and (min-width: 900px) {
  .input {
    width: calc((100% - var(--md)) / 2);
    margin-bottom: var(--md);
  }

  .textarea {
    width: 100%;
  }
}
